.full-width-image {
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
}
.top-buffer { margin-top:20px; }
.container-fluid { 
  padding: 0px;
}
#volunteer-banner{
  background-color:#e77b4f;
  width:100%;
  padding-top:35px;
  padding-bottom:35px;
}
#about-banner{
  width:100%;
  background-color:#73a2c8;
  padding-top:35px;
  padding-left:14%;
  padding-right:14%;
  padding-bottom:35px;
}
/*
ADUBZY BLUE:#73a2c8;
*/
.navbar{
  padding-left:30px;
  padding-right:30px;
}

#inputMessage{
  padding-bottom:100px; 
  padding-top:20px;
}
.footer-heading{
  color:white;
  font-family:'Kaushan';
  font-size:20px;
}
@font-face {
  font-family: 'Abril';
  src: url('AbrilFatface-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 
@font-face{
  font-family: 'Kaushan';
  src: url('KaushanScript-Regular.ttf') format('trutype');
}
@font-face{
  font-family: 'Pacifico';
  src: url('Pacifico-Regular.ttf') format('truetype');
}
body,html{
  height:100%;
}